@font-face {
    font-family: Titillium Web;
    src: url(fonts/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2);
  }
@font-face {
    font-family: ArcadeClassic;
    src: url(fonts/ARCADECLASSIC.TTF);
}
@font-face {
    font-family: F1-regular;
    src: url(fonts/Formula1-Regular.woff2);
}

a:link  {
    text-decoration: none;
    color: #B8860B;
}

a:visited  {
    text-decoration: none;
    color: #D2691E;
}

a:hover  {
    text-decoration: none;
    color: #DAA520;
}

a:active  {
    text-decoration: none;
    color: #A0522D;
}

.migas {
    font-size: 38px;
    padding-left: 20px;
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    font-family: "ArcadeClassic";
    }
  
 .migas ul {
    margin: 0;
    padding: 0;
    display: inline;
    }
  
 .migas ul li {
    list-style: none;
    display: inline;
    }
  

.titulo1{

    text-align: center;
    font-size: 78px;
    line-height: 36px;
    font-family: "ArcadeClassic";
    margin-bottom: 10px;
    margin-top: 50px;
}
.titulo2{

    font-size: 32px;
    line-height: 36px;
    font-family: "ArcadeClassic";
    margin-bottom: 10px;
    text-align: center;
}
.titulo3{
    color: #e10600;
    font-family: "ArcadeClassic";
    font-size: 60px;
    line-height: 14px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.footer{
    font-size: 15px;
    line-height: 36px;
    font-family: "ArcadeClassic";
    margin-bottom: 10px;
    text-align: center;

}

.nombre_seccion{

    font-size: 40px;
    font-family: ArcadeClassic;
    letter-spacing: .2px;
    line-height: 18px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 100px;   
    text-align: center;
}

.caja_seccion{
    margin-left: 70px;   
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    text-align: center;
    

}
.imagen_seccion{

    max-width: 500px;
    max-height: 400px;
    
}

.nombre_juego{

    font-size: 40px;
    font-family: ArcadeClassic;
    letter-spacing: .2px;
    line-height: 18px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 100px;   
    text-align: left;
}

.caja_juego{
    margin-left: 70px;   
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    text-align: center;

}
.imagen_juego{

    max-width: 500px;
    max-height: 400px;
}

.round_image{

    border-radius: 50%;
}

/* controls table */
.controls {
    font-family: "F1-regular", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-right: 100px;
    margin-left: 100px;  
    text-align: center; 
  }
  
.controls td, .controls th {
border: 1px solid #ddd;
padding: 8px;
font-size: 24px;
}

.controls tr:nth-child(even){background-color: #f2f2f2;}

.controls tr:hover {background-color: #ddd;}

.controls th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #30b131;
color: #000000;
}

.description {

    font-family: "F1-regular", Arial, Helvetica, sans-serif;
    text-align: left; 
    margin-left: 100px;  
}

/*ZOOM IMAGE */
/* [1] The container */
.img-hover-zoom {

    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .9s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.2);
  }